#subnav {
		-moz-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
		-webkit-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
		-ms-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
		transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
		background-color: #F2F2F0;
		color: #636363;
		padding: 1em 3em;
		background-color: #F2F2F0;
		border-top-left-radius: 1em;
		border-top-right-radius: 1em;
		cursor: default;
		text-align: center;
}
@media screen and (max-width: 991px) {
  #subnav {
    padding: 1em;
  }
}

#subnav .nav>li {
  vertical-align: middle;
}
#subnav .nav>li>a {
  font-size: 1.3em;
  font-weight: 100;
}
#subnav .nav>li>a.active, #subnav .nav>li>a.active:focus, #subnav .nav>li>a.active:hover {
  color: #fff;
  background-color: #F19B33;
}
#subnav .nav>li>a:hover {
  background-color: #ddd;
}
